# version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: wishlist-backend
    ports:
      - '8090:8090'
    volumes:
      - ./backend/pb_data:/app/pb_data
    environment:
      - TZ=America/New_York
    restart: unless-stopped
    networks:
      - wishlist-network
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:8090/api/health',
        ]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_POCKETBASE_URL=/
    container_name: wishlist-frontend
    ports:
      - '80:80'
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - wishlist-network

networks:
  wishlist-network:
    driver: bridge
